/.DS_Store
/data
/data/*
.DS_Store
*.pyc
__pycache__/
env/
venv/
ENV/
.idea/
.vscode/
*.sqlite3
instance/
logs/
logs/*
*.log
*.pot
**/*.pyc
**/__pycache__/
*.pyc
**/*.log
*.sqlite3
*.db
*.db-journal
*.sqlite
*.sqlite-wal
*.sqlite-shm
.env
.env.*
coverage/
.coverage
htmlcov/
.tox/
.nox/
.cache/
.pytest_cache/
.pyre/
.mypy_cache/
.pytype/
.pyright/
.pytest_cache/
.pyre/
.mypy_cache/
.pytype/
.pyright/
**/*.pyc
**/__pycache__/
.vscode/
.idea/
*.iml
**/.DS_Store