# docker-compose.yml
services:
  redis:
    image: redis:7-alpine
    restart: always
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

  broke-server:
    restart: always
    build: .
    ports:
      - "127.0.0.1:8080:8080"
    volumes:
      - data:/data
    environment:
      - DATA_PATH=/data
      - REDIS_URL=redis://redis:6379
    depends_on:
      - redis

volumes:
  data:
  redis_data:
