<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Broke{% endblock %}</title>
    
    <script src="https://cdn.jsdelivr.net/npm/jdenticon@3.3.0/dist/jdenticon.min.js" async
        integrity="sha384-LfouGM03m83ArVtne1JPk926e3SGD0Tz8XHtW2OKGsgeBU/UfR0Fa8eX+UlwSSAZ"
        crossorigin="anonymous">
    </script>

    <script src="{{ url_for('static', filename='js/toast.js') }}"></script>

     <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"
    />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

    {% block head %}

    {% endblock %}

</head>
<body>
    
    <div class="sb-wrapper">

        <div class="sb-header">
            {# 
            <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo" class="sb-logo">
            <span class="brand-title">Broke</span> 
            #}

            <img src="{{ url_for('static', filename='images/logov2_wo_bg.png') }}" alt="Logo" class="sb-logo-icon">

            <!-- <i class="ph ph-arrow-square-left"></i> -->
        </div>

        <div class="sb-body">
            
            <div class="sb-element {% if page == 'news' %}active{% endif %}" onclick="window.location.href = '/news'">
                <i class="ph ph-bird"></i>
                <span>News</span>
            </div>

            {# <div class="sb-element">
                <i class="ph ph-house"></i>
                <span>Home</span>
            </div> #}

            <div class="sb-element {% if page == 'tickets' %}active{% endif %}" onclick="window.location.href = '/tickets?group=status'">
                <i class="ph ph-ticket"></i>
                <span>Tickets</span>
            </div>

            <div class="sb-element {% if page == 'errors' %}active{% endif %}" onclick="window.location.href = '/errors'">
                <i class="ph ph-bug-beetle"></i>
                <span>Errors</span>
            </div>

            <div class="sb-element {% if page == 'timeline' %}active{% endif %}" onclick="window.location.href = '/timeline'">
                <i class="ph ph-git-commit"></i>
                <span>Timeline</span>
            </div>

            <div class="sb-element {% if page == 'settings' %}active{% endif %}" onclick="window.location.href = '/settings'">
                <i class="ph ph-gear-six"></i>
                <span>Settings</span>
            </div>


        </div>

         <div class="sb-bottom">
            <svg width="40" height="40" data-jdenticon-value="{{ user.username }}"></svg>
            <span>{{ user.username }}</span>
            <a href="/logout" class="sb-logout" title="Sign out">
                <i class="ph ph-sign-out"></i>
            </a>
        </div>

        <div class="sb-news">
            {% block news %}
            <div class="sb-news-inner">
                <h3>Pre-alpha version</h3>
                <p>You are using an pre-alpha version</p>
            </div>
            {% endblock %}
        </div>

    </div>
    
    <div id="content-wrapper">

        <div class="path-bar">
        {% block path %}
            <span><i class="ph ph-house"></i> Home</span> <i class="ph ph-caret-right"></i> <span> <i class="ph ph-bird"></i> Dashboard</span>
        {% endblock %}
        </div>
            
        {% block content %}
            
        {% endblock %}
    </div>

    <script src="{{ url_for('static', filename='js/shortcuts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/list_modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/master.js') }}"></script>
    
    {% block scripts %}

    {% endblock %}

    {# Render toasts from flask flashes #}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        showToast(`{{ message | replace("`", "\\`") | safe }}`, "{{ category }}");
                    {% endfor %}
                {% endif %}
            {% endwith %}
        });
    </script>

</body>
</html>