<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://cdn.jsdelivr.net/npm/jdenticon@3.3.0/dist/jdenticon.min.js" async
        integrity="sha384-LfouGM03m83ArVtne1JPk926e3SGD0Tz8XHtW2OKGsgeBU/UfR0Fa8eX+UlwSSAZ"
        crossorigin="anonymous">
    </script>


     <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"
    />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

    {% block head %}

    {% endblock %}

</head>
<body>
    
    <div class="sb-wrapper">

        <div class="sb-header">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo" class="sb-logo">
            <span class="brand-title">Broke</span>
            <!-- <i class="ph ph-arrow-square-left"></i> -->
        </div>

        <div class="sb-body">
            
            <div class="sb-element">
                <i class="ph ph-bird"></i>
                <span>News</span>
            </div>

            {# <div class="sb-element">
                <i class="ph ph-house"></i>
                <span>Home</span>
            </div> #}

            <div class="sb-element active">
                <i class="ph ph-ticket"></i>
                <span>Tickets</span>
            </div>

            <div class="sb-element">
                <i class="ph ph-bug-beetle"></i>
                <span>Errors</span>
            </div>

            <div class="sb-element">
                <i class="ph ph-git-commit"></i>
                <span>Timeline</span>
            </div>

        </div>

         <div class="sb-bottom">
            <svg width="40" height="40" data-jdenticon-value="{{ user.username }}"></svg>
            <span>{{ user.username }}</span>
            <!-- <i class="ph ph-sign-out"></i> -->
        </div>

        <div class="sb-news">
            {% block news %}
            <div class="sb-news-inner">
                <h3>Try the new timeline</h3>
                <p>Check out the new timeline feature to track changes over time.</p>
            </div>
            {% endblock %}
        </div>

    </div>
    
    <div id="content-wrapper">

        <div class="path-bar">
        {% block path %}
            <span><i class="ph ph-house"></i> Home</span> <i class="ph ph-caret-right"></i> <span> <i class="ph ph-bird"></i> Dashboard</span>
        {% endblock %}
        </div>
            
        {% block content %}
            
        {% endblock %}
    </div>

    <script src="{{ url_for('static', filename='js/master.js') }}"></script>
    
    {% block scripts %}

    {% endblock %}

</body>
</html>