{% extends "dashboard.jinja2" %}

{% block head %}

{% endblock %}

{% block path %}
    <span><i class="ph ph-bird"></i> News</span>
{% endblock %}

{% block content %}

<h1>News for {{ user.username }}</h1>

{% endblock %}

{% block scripts %}
    
{% endblock %}