
.list-container, .list-container * {
    /* outline: 1px solid turquoise; */
}

.list-container {
    width:100%;
    display:flex;
    flex-direction: column;
    margin-top:20px;
    gap:5px;
}

.list-element {
    width: 100%;
    display:flex;
    flex-direction: column;
    margin-bottom:10px;
    border-radius:4px;
    padding:5px;
    border: solid 1px transparent;
}

.list-element:hover{
    border: dashed 1px black;
    cursor: pointer;
}

.list-element-inner {
    display: flex;
    align-items: center;
    gap: 10px;
    gap:20px;
    position: relative;
    margin-bottom: 1.5rem;
}

.list-element-text {
    display:flex;
    flex-direction: column;
}

.list-element-icon {
    font-size: 2rem;
}

.list-element-id {
    /* font-weight: bold; */
}

.list-element-icons {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.list-labels {
    display: flex;
    gap: 5px;
    flex-direction: row;
}

.list-label {
    display: inline-block;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 0.8rem;
    color: black;
    margin-right: 5px;
    border: dashed 1px black;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-label-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.list-assignees {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 5px;
}

.list-assignee {
    width: fit-content;
    border-radius:4px;
    object-fit: cover;
    padding:4px;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    border: solid 1px black;
}